# Managed by ansible

uchiwa_user="{{ uchiwa_user }}"
uchiwa_group="{{ uchiwa_group }}"
uchiwa_config="{{ uchiwa_conf_file }}"
uchiwa_logfile="{{ uchiwa_log_dir }}/uchiwa.log"
uchiwa_publicdir="{{ uchiwa_public_dir }}"
